doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Suflyka
    meta(name='description', content='Suflyka by Hafiz Hamidun')
    meta(name='keywords', content='Suflyka, Hafiz Hamidun')
    meta(name='author', content='@wansaleh')
    
    //- favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/img/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/favicons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/favicons/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/img/favicons/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/img/favicons/manifest.json')
    link(rel='mask-icon', href='/img/favicons/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='/img/favicons/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/img/favicons/mstile-144x144.png')
    meta(name='msapplication-config', content='/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //- stylesheet
    link(rel='stylesheet', href='/css/site.min.css')
  body
  
    //
      Star header
      ==================================================
    canvas#star

    //
      Navigation
      ==================================================
    nav.navbar.navbar-dark.bg-inverse.bg-inverse-custom.navbar-fixed-top
      .container
        a.navbar-brand(href='/')
          //- img(src="/img/sbh.svg", alt="", style="width: 120px;")
          img(src="/img/sbh-horizontal.svg", alt="", style="width: 230px;")
          span.sr-only Suflyka by Hafiz Hamidun

    //
      Hero Section
      ==================================================
    header.jumbotron.text-xs-center.center-vertically(role='banner')
      .container

        .suflyka-by-hh.m-t-5.m-b-5.p-l-1.p-r-1
          h1.display-3
            img(src="/img/logo-kerawang-tagline2.svg", alt="", style="width: 100%; max-width: 480px;")
            span.sr-only Suflyka by Hafiz Hamidun

      
        ul.nav.nav-inline.social-share
          li.nav-item
            a.nav-link(href='https://www.facebook.com/suflyka')
              span.fa.fa-facebook
              span.count.facebook-count
          li.nav-item
            a.nav-link(href='https://www.instagram.com/suflyka')
              span.fa.fa-instagram
              span.count.instagram-count

    //
      Quotes
    section.section-quotes.p-t-8.p-b-8
      .container
        .col-lg-8.col-center
          blockquote.blockquote-instagram
            .instagram-quotes.owl-carousel
    //
      Instagram
    //- section.section-instagram.p-t-8
    //-   .container-fluid
    //-     .instagram-pics.owl-carousel

    //
      Footer
      ==================================================
    footer.section-footer(role='contentinfo')
      .container.text-white
        .row
          .col-md-10
            .media
              .media-left
                img(src="/img/logo-yellow.svg", alt="", style="height: 38px;")
              small.media-body.media-bottom
                span.fade-50 © Suflyka 2016
                br
                span
                  | Handcrafted with 
                  i.icon-heart.mdc-text-red
                  |  at 
                  b Arteffects International

    script(src='/js/site.min.js')
